._input {
  width: 100%;
  color: rgba(255, 255, 255, 0.70);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 120% */
  border-radius: 6px;
  border: 1px solid #191919;
  padding: 26px 0 27px 19px;
  background: #191919;
}