@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "DM Sans", sans-serif;
  background: #191919;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

/*--------------------------------------------------------------------------------------------------------------*/
.header__container {
  min-height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
.menu {
  padding: 5px 0;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
.menu__list {
  display: flex;
  flex-wrap: wrap;
}

/*--------------------------------------------------------------------------------------------------------------*/
.menu__item {
  margin: 0 20px;
}

@media (max-width: 479px) {
  .menu__item {
    margin: 0 10px;
  }
}
/*--------------------------------------------------------------------------------------------------------------*/
.menu__link {
  font-size: 0.94444444rem;
  line-height: 158.8235294118%;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 1.111111rem;
  }
}
.page__main-block {
  margin: 160px 0 0 0;
}

@media (max-width: 1023px) {
  .page__main-block {
    margin: 110px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .page__main-block {
    margin: 140px 0 0 0;
    min-height: 100%;
  }
}
.main-block {
  font-size: 18px;
}

.main-block__container {
  position: relative;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1023.98px) {
  .main-block__container {
    justify-content: center;
  }
}
.main-block__img_container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.main-block__img_container .main-block__rays {
  position: relative;
}
.main-block__img_container .main-block__rays:before {
  top: -26px;
  left: -26px;
  position: absolute;
  display: block;
  width: 68px;
  height: 74px;
  content: "";
  background: url("../images/decorators/raysImg.svg") no-repeat;
}

@media (max-width: 767.98px) {
  .main-block__img_container {
    padding: 0 30px 76px 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }
  .main-block__img_container img {
    width: 100%;
  }
}
.main-block__body {
  padding: 0 0 0 40px;
  box-sizing: content-box;
  z-index: 3;
}

@media (max-width: 767.98px) {
  .main-block__body {
    padding: 0;
  }
}
.body-information {
  max-width: 530px;
  display: flex;
  flex-direction: column;
}

.body-information__title {
  font-size: 70px;
  line-height: 125.714%; /* 88px */
  letter-spacing: 3.2px;
}

@media (max-width: 1023.98px) {
  .body-information__title {
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .body-information__title {
    text-align: center;
    font-size: 50px;
  }
}
.body-information__next {
  font-size: 107.14%;
  line-height: 117.333%; /* 88px */
  position: relative;
}
.body-information__next:after {
  width: 100%;
  height: 104px;
  margin: 0 0 0 -100%;
  content: "";
  position: absolute;
  background-image: url("../images/decorators/raysUnderTxt.svg");
  z-index: 2;
}

@media (max-width: 767.98px) {
  .body-information__next:after {
    margin-top: -20px;
  }
}
.body-information__level {
  font-size: 114.285%;
  font-weight: 700;
  line-height: 110%; /* 88px */
}

.body-information__links {
  margin: 74px 0 0 0;
  padding: 0 0 0 22px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .body-information__links {
    margin: 20px 0 0 0;
    padding: 0;
    align-items: center;
  }
}
.body-information__text {
  margin: 0 0 16px 0;
}

.icon-container__list {
  display: flex;
  flex-wrap: nowrap;
}

.icon-container__item:not(:last-child) {
  margin: 0 17px 0 0;
}

.episodes__item {
  margin-top: 60px;
  padding: 40px;
}

.episode {
  border-radius: 32px;
  background: #000;
}

.episode__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023.98px) {
  .episode__container {
    flex-direction: column;
  }
}
.episode__img {
  flex: 1 1 auto;
  margin-right: 53px;
}
.episode__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1023.98px) {
  .episode__img {
    margin: 0;
  }
}
.episode__body {
  max-width: 778px;
}

.episode__top-button {
  margin-top: 7.56px;
}

.episode__top-link {
  padding: 0 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /*  */
  border-radius: 6px;
  background: #191919;
}

.episode__numbering-txt {
  margin-top: 48px;
  color: #118DA8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /*  */
}

.episode__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 400;
  line-height: 110%; /*  */
  letter-spacing: 2.56px;
  margin-top: 18px;
}

@media (max-width: 1023.98px) {
  .episode__title {
    word-wrap: break-word;
    font-size: 50px;
  }
}
.episode__explanation-txt {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  font-weight: 400;
  line-height: 150%; /*  */
  margin-top: 28px;
}

@media (max-width: 1023.98px) {
  .episode__explanation-txt {
    font-size: 20px;
  }
}
.episode__view-button {
  margin-top: 30px;
}

.page__episodes {
  margin: 100px 0 0 0;
}

.latest-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.latest-title__text {
  color: #FFF;
  font-size: 64px;
  font-weight: 400;
  line-height: 123.75%; /*  */
  letter-spacing: 2.88px;
}

@media (max-width: 767.98px) {
  .latest-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .latest-title__button {
    margin: 30px 0 0 0;
  }
  .latest-title__text {
    font-size: 50px;
  }
}
._button {
  padding: 12px 15px 12px 20px;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 158.824%;
  border-radius: 6px;
  background: #118DA8;
  box-sizing: content-box;
}

@media (max-width: 319.98px) {
  ._button {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
